@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css");

/* ===== RESET STYLES ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-main);
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  padding: 0;
}

address {
  font-style: normal;
}

/* === :root змінні === */
:root {
  /* Colors */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;

  /* Typography */
  --font-main: "Roboto", sans-serif;
  --font-logo: "Raleway", sans-serif;

  /* Transition */
  --transition-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* === Базові стилі === */
.container {
  width: 100%;
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ===== HEADER ===== */
.header {
  border-bottom: 1px solid var(--cornflower);
  background-color: var(--white);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===== LOGO ===== */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.logo-accent {
  color: var(--navy-blue);
}

/* ===== NAVIGATION ===== */
.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.nav-link.current {
  position: relative;
  color: var(--ocean);
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}

/* ===== CONTACT ===== */
.contact {
  font-style: normal;
}

.contact-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}

/* Hero Section */
.hero {
  padding: 188px 0;
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-button {
  display: inline-block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background-color: var(--iris);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/* Features */
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: 264px;
}

.features-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  margin-bottom: 8px;
}

.features-icon {
  width: 64px;
  height: 64px;
  fill: currentColor;
}

.features-subtitle {
  margin-bottom: 8px;
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-text {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* === Team Section === */
.team {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.team-card {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  overflow: hidden;
  text-align: center;
  width: 264px;
}

.card-content {
  padding: 32px 0;
}

.team-member-name {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-member-position {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* === Social List === */
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

.social-icon {
  fill: var(--cloud);
  width: 16px;
  height: 16px;
}

/* Portfolio Section */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio-card {
  width: 360px;
  background-color: var(--white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .portfolio-overlay,
.portfolio-card:focus .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-info {
  border: 1px solid var(--cornflower);
  border-top: none;
  padding: 32px 16px;
}

.portfolio-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio-type {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* === Footer === */
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
  color: var(--cloud);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-info {
  max-width: 264px;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-bottom: 16px;
}

.footer-logo-accent {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-socials-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-socials-list {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color var(--transition-main);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--green);
}

.footer-socials-icon {
  fill: var(--cloud);
}

.footer-subscribe-wrapper {
  margin-top: 32px;
}

.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.footer-subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
  transition: border-color var(--transition-main);
}

.footer-subscribe-input:focus {
  outline: none;
  border-color: var(--iris);
}

.footer-subscribe-input::placeholder {
  color: var(--white);
}

.footer-subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color var(--transition-main);
}

.footer-subscribe-button:hover {
  background-color: var(--ocean);
  border: none;
}

.footer-subscribe-button:focus {
  background-color: var(--ocean);
  border: none;
}

.footer-subscribe-icon {
  margin-left: 16px;
  fill: var(--white);
}

/* === Modal Backdrop === */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* === Modal Window === */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* === Modal Close Button === */
.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: #ffffff;
}

/* === Modal Title === */
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

/* === Modal Form Fields === */
.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-input-wrapper {
  position: relative;
}

.modal-icon {
  display: inline-flex;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  fill: var(--navy-blue);
  pointer-events: none;
  transition: fill var(--transition-main);
}

/* Зміна кольору іконки при фокусі на input */
.modal-input:focus + .modal-icon {
  fill: var(--iris);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--navy-blue-modal);
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  outline: none;
  border-color: #4D5AE5;
}

.modal-textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--navy-blue-modal);
  background-color: transparent;
  resize: none;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
  transition: border-color var(--transition-main);
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-textarea:focus {
  outline: none;
  border-color: #4D5AE5;
}

/* === Modal Checkbox === */
.modal-checkbox-wrap {
  margin-bottom: 24px;
}

.modal-checkbox {
  appearance: none;
  position: absolute;
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: flex;
  align-items: center;
}

.modal-checkbox-link {
  color: var(--iris);
  text-decoration: underline;
}

.custom-checkbox {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  margin-right: 8px;
  fill: transparent;
  transition: background-color var(--transition-main),
    border var(--transition-main), fill var(--transition-main);
}

.modal-checkbox:checked + .modal-checkbox-label .custom-checkbox {
  background-color: var(--ocean);
  border: none;
}

.checkbox-icon {
  opacity: 0;
  transition: opacity var(--transition-main);
}
.modal-checkbox:checked + .modal-checkbox-label .custom-checkbox .checkbox-icon {
  opacity: 1;
  stroke: var(--cloud);
}

.checkbox-link {
  color: var(--iris);
  text-decoration: underline;
}

/* === Modal Submit Button === */
.modal-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--iris);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-icon {
  fill: var(--white);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover {
  background-color: var(--ocean);
  border: none;
}

.modal-submit:focus {
  background-color: var(--ocean);
  border: none;
}

.modal-submit:hover .modal-submit-icon,
.modal-submit:focus .modal-submit-icon {
  fill: #ffffff;
}
